.line-item {
    border-bottom:solid;
    border-width: 1px;
    border-color:green;
}
.button {
    margin-left:3px;
    margin-right:3px;
}
.c-input {
    margin-right:15px;
}
.edit-btn {
    margin-left:3px;
    cursor: pointer;
}